.login-form-container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: auto;
  margin: 0 auto;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}
